@import "../scss/variables.scss";
@import "../scss/header.scss";
@import "../scss/services.scss";
@import "../scss/banner.scss";
@import "../scss/exclusive-deals.scss";
@import "../scss/footer.scss";

body,
ul,
h1,
h3 {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	width: 100%;
}

li {
	list-style: none;
}

._container {
	width: 1120px;
	margin: 0 auto;
}

@media screen and (max-width: 1200px) {
	._container {
		width: 960px;
	}
}

@media screen and (max-width: 1024px) {
	._container {
		width: 720px;
	}
}

@media screen and (max-width: 768px) {
	._container {
		width: 420px;
	}
}

@media screen and (max-width: 480px) {
	._container {
		width: 330px;
	}
}
