.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 120px;

	&__links {
		display: flex;
		gap: 20px;
	}

	&__contacts {
		display: flex;
		align-items: center;
		gap: 40px;
	}
}

.links {
	&__social {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 45px;
		height: 45px;
		border: 2px solid $color-accent;
		border-radius: 50%;
	}

	&__text {
		text-decoration: none;
		color: #828282;
	}
}

.copyright-policy {
	display: flex;
	height: 64px;
	background-color: #efefef;
	align-items: center;
	justify-content: center;
	font-size: 12px;

	&__links {
		display: flex;
		justify-content: space-between;
	}
}

@media screen and (max-width: 1200px) {
	.footer {
		height: 80px;
	}

	.copyright-policy {
		height: 48px;
	}
}

@media screen and (max-width: 1024px) {
	.footer {
		text-align: center;
		&__links {
			gap: 10px;
		}

		&__contacts {
			gap: 10px;
		}

		&__address {
			font-size: 12px;
		}
	}
	.copyright-policy {
		height: 36px;
	}
}

@media screen and (max-width: 768px) {
	.footer {
		height: 180px;
		flex-wrap: wrap;
		gap: 10px 10px;
	}

	.copyright-policy {
		height: 60px;
	}
}

@media screen and (max-width: 480px) {
	.footer {
		&__contacts {
			gap: 65px;
		}
	}
}
